USE [master]
GO
/****** Object:  Database [StokDb]    Script Date: 08/11/2016 09.23.21 ******/
CREATE DATABASE [StokDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StokDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\StokDb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StokDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\StokDb_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StokDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StokDb]
GO
/****** Object:  Table [dbo].[Barang]    Script Date: 08/11/2016 09.23.21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Barang](
	[KodeBarang] [varchar](50) NOT NULL,
	[IdJenisMotor] [int] NOT NULL,
	[KategoriId] [int] NOT NULL,
	[Nama] [varchar](50) NOT NULL,
	[Stok] [int] NOT NULL,
	[HargaBeli] [money] NOT NULL,
	[HargaJual] [money] NOT NULL,
	[TanggalBeli] [date] NULL,
 CONSTRAINT [PK_Barang] PRIMARY KEY CLUSTERED 
(
	[KodeBarang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JenisMotor]    Script Date: 08/11/2016 09.23.22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JenisMotor](
	[IdJenisMotor] [int] IDENTITY(1,1) NOT NULL,
	[NamaMerk] [varchar](50) NOT NULL,
	[NamaJenisMotor] [varchar](50) NOT NULL,
 CONSTRAINT [PK_JenisMotor] PRIMARY KEY CLUSTERED 
(
	[IdJenisMotor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 08/11/2016 09.23.22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[KategoriId] [int] IDENTITY(1,1) NOT NULL,
	[NamaKategori] [nchar](10) NULL,
 CONSTRAINT [PK_Kategori] PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[JenisMotor] ON 

INSERT [dbo].[JenisMotor] ([IdJenisMotor], [NamaMerk], [NamaJenisMotor]) VALUES (1, N'Honda', N'Honda Beat')
INSERT [dbo].[JenisMotor] ([IdJenisMotor], [NamaMerk], [NamaJenisMotor]) VALUES (2, N'Honda', N'Supra X')
INSERT [dbo].[JenisMotor] ([IdJenisMotor], [NamaMerk], [NamaJenisMotor]) VALUES (3, N'Yamaha', N'Mio')
SET IDENTITY_INSERT [dbo].[JenisMotor] OFF
ALTER TABLE [dbo].[Barang] ADD  CONSTRAINT [DF_Barang_Stok]  DEFAULT ((0)) FOR [Stok]
GO
ALTER TABLE [dbo].[Barang] ADD  CONSTRAINT [DF_Barang_HargaBeli]  DEFAULT ((0)) FOR [HargaBeli]
GO
ALTER TABLE [dbo].[Barang] ADD  CONSTRAINT [DF_Barang_HargaJual]  DEFAULT ((0)) FOR [HargaJual]
GO
ALTER TABLE [dbo].[Barang] ADD  CONSTRAINT [DF_Barang_TanggalBeli]  DEFAULT (getdate()) FOR [TanggalBeli]
GO
ALTER TABLE [dbo].[Barang]  WITH CHECK ADD  CONSTRAINT [FK_Barang_JenisMotor] FOREIGN KEY([IdJenisMotor])
REFERENCES [dbo].[JenisMotor] ([IdJenisMotor])
GO
ALTER TABLE [dbo].[Barang] CHECK CONSTRAINT [FK_Barang_JenisMotor]
GO
ALTER TABLE [dbo].[Barang]  WITH CHECK ADD  CONSTRAINT [FK_Barang_Kategori] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategori] ([KategoriId])
GO
ALTER TABLE [dbo].[Barang] CHECK CONSTRAINT [FK_Barang_Kategori]
GO
USE [master]
GO
